<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameRating</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>

<body>
    <header>
        <div class="Navbar_field ">

            <div>
                <a href="/Home" class="logo">
                    GameRating
                </a>
                @if (User.IsInRole("Admin"))
                {
                    <a style="margin-left: 2rem;color:white; margin-top:1rem;text-decoration :none" asp-controller="Admin"
                    asp-action="Games" asp-area="">
                        Admin Panel
                    </a>
                }
            </div>

            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <p style="margin-right: 2rem;color:white; margin-top:1rem">HoşGeldin, @User.Identity.Name!</p>

                    <li>
                        <a class="popular  logoutBtn" asp-controller="User" asp-action="Logout" asp-area="">
                            Logout</a>
                    </li>
                }
                else
                {
                    <li>
                     
                        <a class="  popular" asp-area="" asp-controller="User" asp-action="SignUp">
                            Sign Up</a>
                    </li>

                    <li>
                        <a class="myFavorites " asp-area="" asp-controller="User" asp-action="SignIn">
                            Sign In</a>
                    </li>
                }

            </ul>

        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
